body{
    background-color:rgb(19, 0, 18);
    width: auto;
    height: auto;
    /* animation */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-name: myanimation;
    animation-duration: 6s;
}
div.content
{
    color: aliceblue;
}
div.logo
{
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50%;
}
div.con
{
    direction: ltr;
    float: right;
    margin-top: 90px;
    word-spacing: 40px;
    font-size: xx-large;
    
}
div.pic1
{
    margin-top: 10px;
    
    /* margin-right: 100px; */
}
div.cha
{
    margin-top: 80px;
    margin-right: 20px;
    font-style: italic;
    font-size: 70px;
}
a
{
    display: inline-block;  /* one line*/
    text-decoration: none;
    color: rgb(201, 15, 93);
 
}
a:hover
{
    text-decoration: underline;
    cursor: pointer;
    border: solid rgba(13, 10, 167, 0.445) 5px ;
    border-radius: 20%;
    
}
@keyframes myanimation
{
    0%{
        background-color:rgb(19, 0, 18);
    }
    50%{
        background-color:rgb(141, 14, 3);
    }
    100%{
        background-color:rgba(163, 79, 0, 0.384);
    }
}
