/* About
Founded in 2000, AS-STORE has become a leading Game Studio in San Francisco, 
serving as a home for all game enthusiasts. With a team of professional developers,
animators, artists, engineers and so much more, we try to keep surprising our audience by producing the next best thing in the industry time and time again. At AS-STORE, customer satisfaction is our #1 goal, and we go the extra mile to make sure each and every one of our gamers has a memorable experience. 
Check out our site and see what makes AS-STORE so special. */
body{
    background-color:rgb(19, 0, 18);
    width: auto;
    height: auto;
    
}
div.content
{
    color: aliceblue;
}
div.logo
{
    margin-left: 20px;
    margin-top: 20px;
}
div.con
{
    direction: ltr;
    float: right;
    margin-top: 90px;
    word-spacing: 40px;
    font-size: xx-large;
}
div.pic1
{
    margin-top: 10px;
    
    /* margin-right: 100px; */
}
div.cha
{
    margin-top: 80px;
    margin-right: 20px;
    font-style: italic;
    font-size: 70px;
}
a
{
    display: inline-block;  /* one line*/
    text-decoration: none;
    color: rgb(151, 204, 29);
}
a:hover
{
    text-decoration: underline;
    cursor: pointer;
}